.xm
{
	
	padding:10px;
	border:1px solid gray;
	border-radius: 5px;
	margin:20px;
	box-shadow: 2px 2px 2px 2px gray;
	font-weight: bold;
	height:auto;

}

#pic
{
	background: url(images/s.jpg) no-repeat;
}
.cl
{
	color: blue;
}

img {
  max-width:100%;
  height:auto;
}
.slide1
{
	 background-image: url("images/s1.jpg");
}

.slide2
{
	background: url(images/s2.jpg) no-repeat;
}
.templete{margin:0 auto;}
.clear{overflow:hidden; margin:0px;padding:0px;}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  position:absolute;
  right:0;
  margin-right:100px;

}

.pt
{
	
	padding: 5px;
	border:1px solid gray;
	border-radius: 5px;
	margin:20px;
	box-shadow: 2px 2px 2px 2px gray;
	font-weight: bold;

}
.cl
{
	color: green;
	font-weight: bold;
	font-size: 20px;

}
.pic
{
	padding:5px;
	height: 250px;
}

.tm
{
	height: 250px;
}
.th
{
	 width:300px;
	 height:250px;
	 object-fit: contain;
	 overflow: hidden;
}
.main
{
	font-size: 15px;
}
.go
{
	padding:5px;
}
.post-content-truncate h1 {
	font-size: 33.75px;
	color: #333;
}

.post-content-truncate h2 {
	font-size: 26.25px;
	color: #333;
}

.post-content-truncate h3 {
	font-size: 18.75px;
	color: #333;
}

.post-content-truncate img {
	max-width: 400px;
}
@media (min-width: 900px) and (max-width: 5000px) {
.gap
{
	margin-left: 150px;
	
}
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: white;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 10px;
    background-color: rgba(248, 248, 248, 1);
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
   
}

@media only screen and (max-width:400px) and (min-width:100px)
{
          .pt
          {
          	 height:650px;
          }

}
