
<!--<!DOCTYPE html>
<html>
<head>
    <title></title>
   
  <script type="text/javascript" src="js/jquery.js"></script>
  <link type="text/css" rel="stylesheet" href="lightslider.css" /> 
  <link type="text/css" rel="stylesheet" href="lightslider.min.css" />                  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/lightslider.js"></script>
 

<style>
        ul{
            list-style: none outside none;
            padding-left: 0;
            margin: 0;
        }
        .demo .item{
            margin-bottom: 60px;
        }
        .content-slider li{
            background-color: #FFFFFF;
            text-align: center;
            color: #FFFFFF;
        }
        .content-slider h3 {
            margin: 0;
            padding: 70px 0;
            color: #FFFFFF;
        }
        .demo{
            width: 800px;
        }

    </style>
<script>
    


    $(document).ready(function() {
        var autoplaySlider = $('#content-slider').lightSlider({
            auto:false,
            loop:true,
            pauseOnHover: true,
            onBeforeSlide: function (el) {
                $('#current').text(el.getCurrentSlideCount());
            } 
        });
        $('#total').text(autoplaySlider.getTotalSlideCount());
    });


</script>
<script>
         
</script>

</head>
<body>-->





<div id="about_me" class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me">MekTek Team</span></h1><br>
            <!--<div class="item">
            <ul id="content-slider" class="content-slider">
                <li>
                    <h3> <div class="team-member wow zoomIn">
       {% for post in site.categories.saif_maruf limit:1 %}
       <img src="{{ site.img_path}}/maruf.jpg" height="180" width="180" class="img-responsive img-circle" alt="">
                <h4><span class="navy">Saif Maruf </span>  </h4><br>
                <p style="color:black;">Founder Of Mektek</p>
                <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-info">Details</a><br>
                 
                <div style="margin-top: 10px;"><ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/{{ site.author.facebook_username }}" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.author.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                    <li><a href="{{ site.baseurl }}/feed.xml" target="blank"><i class="fa fa-rss"></i></a></li>
                    {% if site.author.cv %}
                    <li><a href="{{ site.author.cv }}" target="blank"><i class="fa fa-file-pdf-o"></i></a></li>
                    {% endif %}
                </ul></div>

       {% endfor %}
       </div></h3>
                </li>
                <li>
                    <h3> <div class="team-member wow zoomIn">
       {% for post in site.categories.robin limit:1 %}
       <img src="{{ site.img_path }}/robin.jpg" height="180" width="180" class="img-responsive img-circle" alt="">
                <h4><span class="navy">Nasimul Haque Robin </span>  </h4><br>
                <p style="color:black;">Co Founder Of Mektek</p>
                <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-info">Details</a><br>
                 
                <div style="margin-top: 10px;"><ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/{{ site.author.facebook_username }}" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.author.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                    <li><a href="{{ site.baseurl }}/feed.xml" target="blank"><i class="fa fa-rss"></i></a></li>
                    {% if site.author.cv %}
                    <li><a href="{{ site.author.cv }}" target="blank"><i class="fa fa-file-pdf-o"></i></a></li>
                    {% endif %}
                </ul></div>

       {% endfor %}
       </div></h3>
                </li>
                <li>
                    <h3> <div class="team-member wow zoomIn">
       {% for post in site.categories.shawon limit:1 %}
       <img src="{{ site.img_path }}/shawon.jpg" height="180" width="180" class="img-responsive img-circle" alt="">
                <h4><span class="navy">Ashadullah Shawon </span>  </h4><br>
                <p style="color:black;">Member Of Mektek</p>
                <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-info">Details</a><br>
                 
                <div style="margin-top: 10px;"><ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/{{ site.author.facebook_username }}" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.author.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                    <li><a href="{{ site.baseurl }}/feed.xml" target="blank"><i class="fa fa-rss"></i></a></li>
                    {% if site.author.cv %}
                    <li><a href="{{ site.author.cv }}" target="blank"><i class="fa fa-file-pdf-o"></i></a></li>
                    {% endif %}
                </ul></div>

       {% endfor %}
       </div></h3>
                </li>
                <li>
                    <h3> <div class="team-member wow zoomIn">
       {% for post in site.categories.saif_maruf limit:1 %}
       <img src="{{ site.img_path}}/maruf.jpg" height="180" width="180" class="img-responsive img-circle" alt="">
                <h4><span class="navy">Saif Maruf </span>  </h4><br>
                <p style="color:black;">Founder Of Mektek</p>
                <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-info">Details</a><br>
                 
                <div style="margin-top: 10px;"><ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/{{ site.author.facebook_username }}" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.author.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                    <li><a href="{{ site.baseurl }}/feed.xml" target="blank"><i class="fa fa-rss"></i></a></li>
                    {% if site.author.cv %}
                    <li><a href="{{ site.author.cv }}" target="blank"><i class="fa fa-file-pdf-o"></i></a></li>
                    {% endif %}
                </ul></div>

       {% endfor %}
       </div></h3>
                </li>
                <li>
                    <h3> <div class="team-member wow zoomIn">
       {% for post in site.categories.robin limit:1 %}
       <img src="{{ site.img_path }}/robin.jpg" height="180" width="180" class="img-responsive img-circle" alt="">
                <h4><span class="navy">Nasimul Haque Robin </span>  </h4><br>
                <p style="color:black;">Co Founder Of Mektek</p>
                <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-info">Details</a><br>
                 
                <div style="margin-top: 10px;"><ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/{{ site.author.facebook_username }}" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.author.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                    <li><a href="{{ site.baseurl }}/feed.xml" target="blank"><i class="fa fa-rss"></i></a></li>
                    {% if site.author.cv %}
                    <li><a href="{{ site.author.cv }}" target="blank"><i class="fa fa-file-pdf-o"></i></a></li>
                    {% endif %}
                </ul></div>

       {% endfor %}
       </div></h3>
                </li>
                <li>
                    <h3> <div class="team-member wow zoomIn">
      {% for post in site.categories.shawon limit:1 %}
       <img src="{{ site.img_path }}/shawon.jpg" height="180" width="180" class="img-responsive img-circle" alt="">
                <h4><span class="navy">Ashadullah Shawon</span>  </h4><br>
                <p style="color:black;">Member Of Mektek</p>
                <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-info">Details</a><br>
                 
                <div style="margin-top: 10px;"><ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/{{ site.author.facebook_username }}" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.author.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                    <li><a href="{{ site.baseurl }}/feed.xml" target="blank"><i class="fa fa-rss"></i></a></li>
                    {% if site.author.cv %}
                    <li><a href="{{ site.author.cv }}" target="blank"><i class="fa fa-file-pdf-o"></i></a></li>
                    {% endif %}
                </ul></div>

       {% endfor %}
       </div></h3>
                </li>
            </ul>
        </div>
                        
  
  
            
            
            
     </div>
    </div>-->
    <div class="row">
      <div class="col-sm-4"> 
       <div class="team-member wow zoomIn">
       {% for post in site.categories.saif_maruf limit:1 %}
       <img src="{{ site.img_path}}/maruf.jpg" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">Saif Maruf </span>  </h4>
                <p style="color:black;">Founder Of Mektek</p>
                <a href="http://saif.mektekbd.com" class="btn btn-info">Details</a><br>
                 
                <div style="margin-top: 10px;"><ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/Saif-Uz-Zaman/" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/saif.maruf" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.author.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="mailto:saif.mektek@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                    
                    
                </ul></div><br>

       {% endfor %}
       </div>
    </div>

     <div class="col-sm-4">
       <div class="team-member wow zoomIn">
       {% for post in site.categories.saif_maruf limit:1 %}
       <img src="{{ site.img_path}}/robin.jpg" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">Nasimul Haque Robin </span>  </h4>
                <p style="color:black;">Co-Founder Of Mektek</p>
                <a href="http://robin.mektekbd.com" class="btn btn-info">Details</a><br>
                 
                <div style="margin-top: 10px;"><ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/nasimulhaque.robin.MekTek" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.author.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="mailto:nasimulhaque.robin@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                    
                    
                </ul></div><br>

       {% endfor %}
       </div>
    </div>
     <div class="col-sm-4">
       <div class="team-member wow zoomIn">
       {% for post in site.categories.shawon limit:1 %}
       <img src="{{ site.img_path}}/shawon.jpg" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">Ashadullah Shawon</span>  </h4>
                <p style="color:black;">Founder Member</p>
                <a href="http://shawon.mektekbd.com" class="btn btn-info">Details</a><br>
                 
                <div style="margin-top: 10px;"><ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/shawon100" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/ashadullah-shawon-b51606aa/" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/ashadullah.shawon" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/shawon_2012" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="mailto:shawonashadullah@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                   
                    
                </ul></div><br>

       {% endfor %}
       </div>
    </div><br><br><br>


    <div style="margin-top:10px;" class="row">
      <div class="col-sm-4"> 
       <div class="team-member wow zoomIn">
       {% for post in site.categories.saif_maruf limit:1 %}
       <img src="{{ site.img_path}}/tajbid.jpg" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">Tajbid Shuvo </span>  </h4>
                <p style="color:black;">Founder Member</p>
                <a href="http://tajbid.mektekbd.com" class="btn btn-info">Details</a><br>
                 
                <div style="margin-top: 10px;"><ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/tajbidshuvomte" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.author.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="mailto:shahtajbid@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                   
                    
                </ul></div><br>

       {% endfor %}
       </div>
    </div>

     <div class="col-sm-4">
       <div class="team-member wow zoomIn">
       {% for post in site.categories.saif_maruf limit:1 %}
       <img src="{{ site.img_path}}/sakib.jpg" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">Sakib Zaman </span>  </h4>
                <p style="color:black;">Founder Member</p>
                <a href="http://sakib.mektekbd.com" class="btn btn-info">Details</a><br>
                 
                <div style="margin-top: 10px;"><ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/md-asaduzzaman-sakib-980474109/" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/sakib.zaman.94" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.author.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="mailto:sakibzaman3099@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                   
                    
                </ul></div><br>

       {% endfor %}
       </div>
    </div>
     <div class="col-sm-4">
       <div class="team-member wow zoomIn">
       {% for post in site.categories.saif_maruf limit:1 %}
       <img src="{{ site.img_path}}/aniqa.jpg" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">Aniqa Fahmida </span>  </h4>
                <p style="color:black;">Founder Member</p>
                <a href="http://anika.mektekbd.com" class="btn btn-info">Details</a><br>
                 
                <div style="margin-top: 10px;"><ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/aniqa" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/aniqa" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/anikafahmida.hossain.5" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/aniqa" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="mailto:anikafahmidahossain29@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                   
                </ul></div><br>

       {% endfor %}
       </div>
    </div>
     
    </div>
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="about_me.des"></span></p>
        </div>
    </div>
</div>

