.xm
{
	
	padding:10px;
	border:1px solid gray;
	border-radius: 5px;
	margin:20px;
	box-shadow: 2px 2px 2px 2px gray;
	font-weight: bold;
	height:auto;

}

img {
  max-width:100%;
  height:auto;
}


.templete{margin:0 auto;}
.clear{overflow:hidden; margin:0px;padding:0px;}

.pt
{
	
	padding: 5px;
	border:1px solid gray;
	border-radius: 5px;
	margin:20px;
	box-shadow: 2px 2px 2px 2px gray;
	font-weight: bold;

}
.cl
{
	color: green;
	font-weight: bold;
	font-size: 20px;

}
.pic
{
	padding:5px;
	height: 250px;
}

.tm
{
	height: 250px;
}
.th
{
	 width:300px;
	 height:250px;
	 object-fit: contain;
	 overflow: hidden;
}
.main
{
	font-size: 15px;
}
.go
{
	padding:5px;
}
.post-content-truncate h1 {
	font-size: 33.75px;
	color: #333;
}

.post-content-truncate h2 {
	font-size: 26.25px;
	color: #333;
}

.post-content-truncate h3 {
	font-size: 18.75px;
	color: #333;
}

.post-content-truncate img {
	max-width: 400px;
}
@media (min-width: 900px) and (max-width: 5000px) {
.gap
{
	margin-left: 150px;
	
}
}